doctype html
head(lang='en')
  head
    title='markup converter'
  body
    h1 Markup to HTML Converter
    form(method='post')
      textarea(type='text', style='height:400px;width:400px',placeholder='markup',name='markup')
      script.
        var data = #{JSON.stringify(data)}
      textarea(style='height:400px;width:400px')= data.val